@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/globals.css */

@font-face {
  font-family: 'FuturaPT';
  src: url('/src/assets/fonts/FuturaPT/FuturaPT-Book.woff2') format('woff2'),
    url('/src/assets/fonts/FuturaPT/FuturaPT-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('/src/assets/fonts/FuturaPT/FuturaPT-Medium.woff2') format('woff2'),
    url('/src/assets/fonts/FuturaPT/FuturaPT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ZTNeueRalewe';
  src: url('/src/assets/fonts/ZTNeueRalewe/ZTNeueRalewe-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ZTNeueRalewe';
  src: url('/src/assets/fonts/ZTNeueRalewe/ZTNeueRalewe-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ZTNeueRalewe';
  src: url('/src/assets/fonts/ZTNeueRalewe/ZTNeueRalewe-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border scroll-smooth;
  }
  body {
    @apply bg-background text-onAnySurfaceVariant font-futura font-normal;
  }

  .container {
    @apply max-w-[1320px] w-full mx-auto my-0 px-4;
  }

  .font-80-medium {
    @apply text-onAnySurface -tracking-[-2%] text-[36px] sm:text-[80px] leading-[115%] sm:leading-[100%] font-ztNeue font-semibold sm:font-normal  text-center;
  }

  .font-64-regular {
    @apply text-gold -tracking-[-2%] text-[36px] sm:text-[64px] leading-[115%] sm:leading-[100%] font-ztNeue font-medium md:font-semibold;
  }

  .font-36-medium {
    @apply text-onAnySurface -tracking-[-2%] text-[24px] sm:text-[36px] leading-[100%] font-ztNeue font-[500];
  }

  .font-20-medium {
    @apply text-onAnySurfaceVariant text-[16px] sm:text-[20px] leading-[28px] font-futura font-[500];
  }

  .font-18-regular {
    @apply text-onAnySurface -tracking-[-2%] text-[18px] leading-[28px] font-futura font-[400];
  }

  .font-16-regular {
    @apply text-onAnySurfaceVariant text-[16px] leading-[24px] font-futura font-[400] text-center;
  }

  .font-16-medium {
    @apply text-onAnySurface text-[16px] leading-[24px] font-futura font-[450];
  }

  .font-14-regular {
    @apply text-onAnySurface -tracking-[-1%] text-[14px] leading-[20px] font-futura font-[400];
  }

  .font-14-medium {
    @apply text-onAnySurfaceVariant -tracking-[-1%] text-[14px] leading-[20px] font-futura font-[450];
  }

  .burger-item {
    @apply rounded-[2px] bg-gold h-0.5 w-full;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    @apply bg-transparent text-onAnySurface;
  }
}

@layer utilities {
}

.loader {
  border: 2px solid #fff; /* Light grey */
  border-top: 2px solid #213a73; /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 0.8s ease-in-out infinite;
}
